In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
#import citi bike data from 01-06/2019 & 01-06/2020 to see
#if there are any effects on rentals from COVID-19

#2019 Data
tripdata_119 = "Resources/JC-201901-citibike-tripdata.csv"
tripdata_219 = "Resources/JC-201902-citibike-tripdata.csv"
tripdata_319 = "Resources/JC-201903-citibike-tripdata.csv"
tripdata_419 = "Resources/JC-201904-citibike-tripdata.csv"
tripdata_519 = "Resources/JC-201905-citibike-tripdata.csv"
tripdata_619 = "Resources/JC-201906-citibike-tripdata.csv"

#2020 Data
tripdata_120 = "Resources/JC-202001-citibike-tripdata.csv"
tripdata_220 = "Resources/JC-202002-citibike-tripdata.csv"
tripdata_320 = "Resources/JC-202003-citibike-tripdata.csv"
tripdata_420 = "Resources/JC-202004-citibike-tripdata.csv"
tripdata_520 = "Resources/JC-202005-citibike-tripdata.csv"
tripdata_620 = "Resources/JC-202006-citibike-tripdata.csv"


#Read in Data
tripdata_119_df = pd.read_csv(tripdata_119)
tripdata_219_df = pd.read_csv(tripdata_219)
tripdata_319_df = pd.read_csv(tripdata_319)
tripdata_419_df = pd.read_csv(tripdata_419)
tripdata_519_df = pd.read_csv(tripdata_519)
tripdata_619_df = pd.read_csv(tripdata_619)

tripdata_120_df = pd.read_csv(tripdata_120)
tripdata_220_df = pd.read_csv(tripdata_220)
tripdata_320_df = pd.read_csv(tripdata_320)
tripdata_420_df = pd.read_csv(tripdata_420)
tripdata_520_df = pd.read_csv(tripdata_520)
tripdata_620_df = pd.read_csv(tripdata_620)

In [3]:
tripdata_620_df.head()

all_frames = [tripdata_119_df,tripdata_219_df,tripdata_319_df,tripdata_419_df,tripdata_519_df,tripdata_619_df,tripdata_120_df,tripdata_220_df,tripdata_320_df,tripdata_420_df,tripdata_520_df,tripdata_620_df]

In [4]:
result = pd.concat(all_frames, keys=["119","219","319","419","519","619","120","220","320","420","520","620"])

In [5]:
result.tail()

           tripduration                 starttime                  stoptime  \
620 36916          2828  2020-06-30 23:53:19.7380  2020-07-01 00:40:28.5760
    36917          2729  2020-06-30 23:54:44.0100  2020-07-01 00:40:13.6470
    36918          2788  2020-06-30 23:54:52.1920  2020-07-01 00:41:20.6500
    36919          2702  2020-06-30 23:56:14.6650  2020-07-01 00:41:16.7820
    36920          2649  2020-06-30 23:57:46.1490  2020-07-01 00:41:55.5060

           start station id start station name  start station latitude  \
620 36916              3199       Newport Pkwy               40.728745
    36917              3199       Newport Pkwy               40.728745
    36918              3199       Newport Pkwy               40.728745
    36919              3199       Newport Pkwy               40.728745
    36920              3199       Newport Pkwy               40.728745

           start station longitude  end station id end station name  \
620 36916               -74.032108            3199     Newport Pkwy
    36917               -74.032108            3199     Newport Pkwy
    36918               -74.032108            3199     Newport Pkwy
    36919               -74.032108            3199     Newport Pkwy
    36920               -74.032108            3199     Newport Pkwy

           end station latitude  end station longitude  bikeid  usertype  \
620 36916             40.728745             -74.032108   18351  Customer
    36917             40.728745             -74.032108   44401  Customer
    36918             40.728745             -74.032108   42334  Customer
    36919             40.728745             -74.032108   42463  Customer
    36920             40.728745             -74.032108   42468  Customer

           birth year  gender
620 36916        1969       0
    36917        1969       0
    36918        1969       0
    36919        1969       0
    36920        1998       2

In [6]:
result.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [7]:
result[["starttime", "stoptime"]] = result[["starttime", "stoptime"]].apply(pd.to_datetime)

In [8]:
result.tail()
result.dtypes

tripduration                        int64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
dtype: object

In [9]:
result['StartDate']=result["starttime"].dt.date
result['EndDate']=result["stoptime"].dt.date

In [10]:
result.dtypes

tripduration                        int64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
StartDate                          object
EndDate                            object
dtype: object

In [11]:
result.head()

       tripduration               starttime                stoptime  \
119 0           201 2019-01-01 03:09:09.711 2019-01-01 03:12:30.879
    1           505 2019-01-01 05:18:00.106 2019-01-01 05:26:25.905
    2           756 2019-01-01 10:36:33.340 2019-01-01 10:49:10.260
    3          1575 2019-01-01 12:43:38.643 2019-01-01 13:09:54.528
    4          1566 2019-01-01 12:43:39.601 2019-01-01 13:09:46.510

       start station id start station name  start station latitude  \
119 0              3183     Exchange Place               40.716247
    1              3183     Exchange Place               40.716247
    2              3183     Exchange Place               40.716247
    3              3183     Exchange Place               40.716247
    4              3183     Exchange Place               40.716247

       start station longitude  end station id    end station name  \
119 0               -74.033459            3214    Essex Light Rail
    1               -74.033459            3638       Washington St
    2               -74.033459            3192  Liberty Light Rail
    3               -74.033459            3638       Washington St
    4               -74.033459            3638       Washington St

       end station latitude  end station longitude  bikeid    usertype  \
119 0             40.712774             -74.036486   29612  Subscriber
    1             40.724294             -74.035483   29213  Subscriber
    2             40.711242             -74.055701   26164  Subscriber
    3             40.724294             -74.035483   29672    Customer
    4             40.724294             -74.035483   29522    Customer

       birth year  gender   StartDate     EndDate
119 0        1993       1  2019-01-01  2019-01-01
    1        1972       2  2019-01-01  2019-01-01
    2        1985       1  2019-01-01  2019-01-01
    3        1969       0  2019-01-01  2019-01-01
    4        1969       0  2019-01-01  2019-01-01

In [12]:
result['StartTime']=result["starttime"].dt.time
result['StopTime']=result["stoptime"].dt.time

In [15]:
result = result.rename(columns={'starttime': 'start_dt_obj', 'stoptime': 'stop_dt_obj'})

In [16]:
result.tail()

           tripduration            start_dt_obj             stop_dt_obj  \
620 36916          2828 2020-06-30 23:53:19.738 2020-07-01 00:40:28.576
    36917          2729 2020-06-30 23:54:44.010 2020-07-01 00:40:13.647
    36918          2788 2020-06-30 23:54:52.192 2020-07-01 00:41:20.650
    36919          2702 2020-06-30 23:56:14.665 2020-07-01 00:41:16.782
    36920          2649 2020-06-30 23:57:46.149 2020-07-01 00:41:55.506

           start station id start station name  start station latitude  \
620 36916              3199       Newport Pkwy               40.728745
    36917              3199       Newport Pkwy               40.728745
    36918              3199       Newport Pkwy               40.728745
    36919              3199       Newport Pkwy               40.728745
    36920              3199       Newport Pkwy               40.728745

           start station longitude  end station id end station name  \
620 36916               -74.032108            3199     Newport Pkwy
    36917               -74.032108            3199     Newport Pkwy
    36918               -74.032108            3199     Newport Pkwy
    36919               -74.032108            3199     Newport Pkwy
    36920               -74.032108            3199     Newport Pkwy

           end station latitude  end station longitude  bikeid  usertype  \
620 36916             40.728745             -74.032108   18351  Customer
    36917             40.728745             -74.032108   44401  Customer
    36918             40.728745             -74.032108   42334  Customer
    36919             40.728745             -74.032108   42463  Customer
    36920             40.728745             -74.032108   42468  Customer

           birth year  gender   StartDate     EndDate        StartTime  \
620 36916        1969       0  2020-06-30  2020-07-01  23:53:19.738000
    36917        1969       0  2020-06-30  2020-07-01  23:54:44.010000
    36918        1969       0  2020-06-30  2020-07-01  23:54:52.192000
    36919        1969       0  2020-06-30  2020-07-01  23:56:14.665000
    36920        1998       2  2020-06-30  2020-07-01  23:57:46.149000

                  StopTime
620 36916  00:40:28.576000
    36917  00:40:13.647000
    36918  00:41:20.650000
    36919  00:41:16.782000
    36920  00:41:55.506000

In [17]:
result.to_csv("cleaned_tripdata.csv")